<h5>Conta</h5>
<p>Preencha os campos para incluir uma conta</p>

<form >

  <div class="row mb-3">
    <div class="col-md-6">
        <label for="">Nome do usuário</label>
        <input type="text" class="form-control" formControlName="nome">
    </div>

    <div class="col-md-3">
        <label for="">Login de acesso</label>
        <input type="text" class="form-control" formControlName="preco">
    </div>

    <div class="col-md-3">
        <label for="">Senha de acesso</label>
        <input type="text" class="form-control" formControlName="quantidade">
    </div>
</div>

<input type="submit" class="btn btn-success" value="Realizar o Cadastro">

</form>



